<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Catalog alias="uwbsCatalog" />
  <Category alias="uwbsCategory">
    <categories>categories</categories>
    <metaTags>metaTags</metaTags>
    <images>images</images>
    <title>title</title>
    <url>url</url>
    <metaDescription>metaDescription</metaDescription>
    <description>description</description>
  </Category>
  <CategoryRepository alias="uwbsCategoryRepository" />
  <DateFolder alias="uwbsOrderDateFolder" />
  <DiscountOrder alias="uwbsDiscountOrder">
    <items>items</items>
    <affectedOrderlines>affectedOrderlines</affectedOrderlines>
    <affectedTags>affectedTags</affectedTags>
    <orderCondition>orderCondition</orderCondition>
    <numberOfItemsCondition>numberOfItemsCondition</numberOfItemsCondition>
    <shippingDiscountable>shippingDiscountable</shippingDiscountable>
    <minimumAmount>minimumAmount</minimumAmount>
    <couponCodes>couponCodes</couponCodes>
    <oncePerCustomer>oncePerCustomer</oncePerCustomer>
    <title>title</title>
    <description>description</description>
    <disable>disable</disable>
    <discountType>discountType</discountType>
    <discount>discount</discount>
    <ranges>ranges</ranges>
    <countdownEnabled>countdownEnabled</countdownEnabled>
    <countdown>countdown</countdown>
    <memberGroups>memberGroups</memberGroups>
  </DiscountOrder>
  <DiscountOrderSection alias="uwbsDiscountOrderSection" />
  <DiscountProduct alias="uwbsDiscountProduct">
    <products>products</products>
    <excludeVariants>excludeVariants</excludeVariants>
    <title>title</title>
    <description>description</description>
    <disable>disable</disable>
    <discountType>discountType</discountType>
    <discount>discount</discount>
    <ranges>ranges</ranges>
    <countdownEnabled>countdownEnabled</countdownEnabled>
    <countdown>countdown</countdown>
    <memberGroups>memberGroups</memberGroups>
  </DiscountProduct>
  <DiscountProductSection alias="uwbsDiscountProductSection" />
  <DiscountRepository alias="uwbsDiscountRepository" />
  <EmailCustomer alias="uwbsEmailTemplateCustomer">
    <title>title</title>
    <description>description</description>
    <emailtemplate>emailtemplate</emailtemplate>
    <templatePreview>templatePreview</templatePreview>
  </EmailCustomer>
  <EmailCustomerSection alias="uwbsEmailTemplateCustomerSection" />
  <EmailRepository alias="uwbsEmailRepository" />
  <EmailStore alias="uwbsEmailTemplateStore">
    <title>title</title>
    <description>description</description>
    <emailtemplate>emailtemplate</emailtemplate>
    <templatePreview>templatePreview</templatePreview>
  </EmailStore>
  <EmailStoreSection alias="uwbsEmailTemplateStoreSection" />
  <Order alias="uwbsOrder">
    <orderStatusPicker>orderStatusPicker</orderStatusPicker>
    <orderPaid>orderPaid</orderPaid>
    <orderDetails>orderDetails</orderDetails>
    <orderGuid>orderGuid</orderGuid>
    <customerEmail>customerEmail</customerEmail>
    <customerFirstName>customerFirstName</customerFirstName>
    <customerLastName>customerLastName</customerLastName>
  </Order>
  <OrderedProduct alias="uwbsOrderedProduct">
    <productId>productId</productId>
    <typeAlias>typeAlias</typeAlias>
    <title>title</title>
    <sku>sku</sku>
    <length>length</length>
    <width>width</width>
    <height>height</height>
    <weight>weight</weight>
    <ranges>ranges</ranges>
    <price>price</price>
    <vat>vat</vat>
    <itemCount>itemCount</itemCount>
    <orderedProductDiscountPercentage>orderedProductDiscountPercentage</orderedProductDiscountPercentage>
    <orderedProductDiscountAmount>orderedProductDiscountAmount</orderedProductDiscountAmount>
    <orderedProductDiscountExcludingVariants>orderedProductDiscountExcludingVariants</orderedProductDiscountExcludingVariants>
  </OrderedProduct>
  <OrderedProductVariant alias="uwbsOrderedProductVariant">
    <variantId>variantId</variantId>
    <typeAlias>typeAlias</typeAlias>
    <title>title</title>
    <sku>sku</sku>
    <group>group</group>
    <length>length</length>
    <width>width</width>
    <height>height</height>
    <weight>weight</weight>
    <price>price</price>
    <ranges>ranges</ranges>
    <discountPercentage>discountPercentage</discountPercentage>
    <discountAmount>discountAmount</discountAmount>
  </OrderedProductVariant>
  <OrderRepository alias="uwbsOrderRepository">
    <orderSection>orderSection</orderSection>
  </OrderRepository>
  <OrderStoreFolder alias="uwbsOrderStoreFolder" />
  <PaymentProvider alias="uwbsPaymentProvider">
    <title>title</title>
    <description>description</description>
    <image>image</image>
    <type>type</type>
    <zone>zone</zone>
    <successNode>successNode</successNode>
    <errorNode>errorNode</errorNode>
    <cancelNode>cancelNode</cancelNode>
    <testMode>testMode</testMode>
  </PaymentProvider>
  <PaymentProviderMethod alias="uwbsPaymentProviderMethod">
    <disable>disable</disable>
    <title>title</title>
    <description>description</description>
    <image>image</image>
    <price>price</price>
    <vat>vat</vat>
    <amountType>amountType</amountType>
  </PaymentProviderMethod>
  <PaymentProviderRepository alias="uwbsPaymentProviderRepository" />
  <PaymentProviderSection alias="uwbsPaymentProviderSection" />
  <PaymentProviderZone alias="uwbsPaymentProviderZone">
    <zone>zone</zone>
  </PaymentProviderZone>
  <PaymentProviderZoneSection alias="uwbsPaymentProviderZoneSection" />
  <Product alias="uwbsProduct">
    <sku>sku</sku>
    <metaTags>metaTags</metaTags>
    <categories>categories</categories>
    <images>images</images>
    <files>files</files>
    <length>length</length>
    <width>width</width>
    <height>height</height>
    <weight>weight</weight>
    <price>price</price>
    <ranges>ranges</ranges>
    <vat>vat</vat>
    <stock>stock</stock>
    <ordered>ordered</ordered>
    <stockStatus>stockStatus</stockStatus>
    <backorderStatus>backorderStatus</backorderStatus>
    <useVariantStock>useVariantStock</useVariantStock>
    <title>title</title>
    <url>url</url>
    <metaDescription>metaDescription</metaDescription>
    <description>description</description>
    <disable>disable</disable>
  </Product>
  <ProductRepository alias="uwbsProductRepository">
    <productOverview>productOverview</productOverview>
  </ProductRepository>
  <ProductVariant alias="uwbsProductVariant">
    <title>title</title>
    <sku>sku</sku>
    <disable>disable</disable>
    <description>description</description>
    <length>length</length>
    <width>width</width>
    <height>height</height>
    <weight>weight</weight>
    <price>price</price>
    <ranges>ranges</ranges>
    <stock>stock</stock>
    <ordered>ordered</ordered>
    <stockStatus>stockStatus</stockStatus>
    <backorderStatus>backorderStatus</backorderStatus>
  </ProductVariant>
  <ProductVariantGroup alias="uwbsProductVariantGroup">
    <title>title</title>
    <required>required</required>
    <description>description</description>
  </ProductVariantGroup>
  <Settings alias="uwbsSettings">
    <includingVat>includingVat</includingVat>
    <lowercaseUrls>lowercaseUrls</lowercaseUrls>
    <incompleteOrderLifetime>incompleteOrderLifetime</incompleteOrderLifetime>
  </Settings>
  <ShippingProvider alias="uwbsShippingProvider">
    <title>title</title>
    <description>description</description>
    <image>image</image>
    <type>type</type>
    <rangeType>rangeType</rangeType>
    <rangeStart>rangeStart</rangeStart>
    <rangeEnd>rangeEnd</rangeEnd>
    <overrule>overrule</overrule>
    <zone>zone</zone>
    <testMode>testMode</testMode>
  </ShippingProvider>
  <ShippingProviderMethod alias="uwbsShippingProviderMethod">
    <disable>disable</disable>
    <title>title</title>
    <description>description</description>
    <image>image</image>
    <price>price</price>
    <vat>vat</vat>
  </ShippingProviderMethod>
  <ShippingProviderRepository alias="uwbsShippingProviderRepository" />
  <ShippingProviderSection alias="uwbsShippingProviderSection" />
  <ShippingProviderZone alias="uwbsShippingProviderZone">
    <zone>zone</zone>
  </ShippingProviderZone>
  <ShippingProviderZoneSection alias="uwbsShippingProviderZoneSection" />
  <Store alias="uwbsStore">
    <storeCulture>storeCulture</storeCulture>
    <countryCode>countryCode</countryCode>
    <currencies>currencies</currencies>
    <globalVat>globalVat</globalVat>
    <orderNumberPrefix>orderNumberPrefix</orderNumberPrefix>
    <orderNumberTemplate>orderNumberTemplate</orderNumberTemplate>
    <orderNumberStartNumber>orderNumberStartNumber</orderNumberStartNumber>
    <enableStock>enableStock</enableStock>
    <defaultUseVariantStock>defaultUseVariantStock</defaultUseVariantStock>
    <defaultCountdownEnabled>defaultCountdownEnabled</defaultCountdownEnabled>
    <storeStock>storeStock</storeStock>
    <useBackorders>useBackorders</useBackorders>
    <enableTestmode>enableTestmode</enableTestmode>
    <storeEmailFrom>storeEmailFrom</storeEmailFrom>
    <storeEmailFromName>storeEmailFromName</storeEmailFromName>
    <storeEmailTo>storeEmailTo</storeEmailTo>
    <accountEmailCreated>accountEmailCreated</accountEmailCreated>
    <accountForgotPassword>accountForgotPassword</accountForgotPassword>
    <confirmationEmailStore>confirmationEmailStore</confirmationEmailStore>
    <confirmationEmailCustomer>confirmationEmailCustomer</confirmationEmailCustomer>
    <onlinePaymentEmailStore>onlinePaymentEmailStore</onlinePaymentEmailStore>
    <onlinePaymentEmailCustomer>onlinePaymentEmailCustomer</onlinePaymentEmailCustomer>
    <offlinePaymentEmailStore>offlinePaymentEmailStore</offlinePaymentEmailStore>
    <offlinePaymentEmailCustomer>offlinePaymentEmailCustomer</offlinePaymentEmailCustomer>
    <paymentFailedEmailStore>paymentFailedEmailStore</paymentFailedEmailStore>
    <paymentFailedEmailCustomer>paymentFailedEmailCustomer</paymentFailedEmailCustomer>
    <dispatchedEmailStore>dispatchedEmailStore</dispatchedEmailStore>
    <dispatchedEmailCustomer>dispatchedEmailCustomer</dispatchedEmailCustomer>
    <cancelEmailStore>cancelEmailStore</cancelEmailStore>
    <cancelEmailCustomer>cancelEmailCustomer</cancelEmailCustomer>
    <closedEmailStore>closedEmailStore</closedEmailStore>
    <closedEmailCustomer>closedEmailCustomer</closedEmailCustomer>
    <pendingEmailStore>pendingEmailStore</pendingEmailStore>
    <pendingEmailCustomer>pendingEmailCustomer</pendingEmailCustomer>
    <temporaryOutOfStockEmailStore>temporaryOutOfStockEmailStore</temporaryOutOfStockEmailStore>
    <temporaryOutOfStockEmailCustomer>temporaryOutOfStockEmailCustomer</temporaryOutOfStockEmailCustomer>
    <undeliverableEmailStore>undeliverableEmailStore</undeliverableEmailStore>
    <undeliverableEmailCustomer>undeliverableEmailCustomer</undeliverableEmailCustomer>
    <returnEmailStore>returnEmailStore</returnEmailStore>
    <returnEmailCustomer>returnEmailCustomer</returnEmailCustomer>
  </Store>
  <StoreRepository alias="uwbsStoreRepository" />
  <UwebshopRoot alias="uWebshop" />
</Config>